CMakeFiles/
CMakeCache.txt
*.cmake
*.a
DartConfiguration.tcl
Testing/
install_manifest.txt
_CPack_Packages/
build/
compile_commands.json
.DS_Store
a.out
sphinx_docs/docs/doxy_*
sphinx_docs/docs/sphinx_build
